[cream]
module = CREAMCE
name = CREAMCE
description =
instruction =
type = rated
weight = 1.0


# Job states corresponding to jobs which are not finished and did not fail
running = 0,1,2,3,4,6

# Job states which should be included in the node summary
node_job_status = 3,4

# CREAMDB URL
database = mysql://creamdb:123456@localhost/creamdb
